.App {
  text-align: center;
}

.search-bar {
  background-color: rgb(137, 174, 134);
  border-radius: 20px;
  height: 40px;
  width: 500px;
  border: none;
  margin: 10px;
  padding-left: 15px;
}

.search-button {
  border-radius: 50px;
  border: none;
  height: 50px;
  background-color: rgb(83, 126, 83);
}

.artist-photo {
  border-radius: 500px;
}

.menu {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-buttons {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  background-color: greenyellow;
  display: flex;
  margin-bottom: 20px;
}