.App {
  text-align: center;
}

/* SEARCH */

.search-bar {
  height: 100vh;
  background-color: rgb(137, 174, 134);
  border-radius: 20px;
  height: 40px;
  width: 500px;
  border: none;
  margin: 10px;
  padding-left: 15px;
}

.search-button {
  border-radius: 50px;
  border: none;
  height: 50px;
  background-color: rgb(83, 126, 83);
}

/* RESULTS */

.artist-result {
  display: flex;
  background-color: pink;
  height: 250px;
  max-width: 350px;
  border-radius: 50px;
  margin: 50px;
  transition: all 0.4s ease;
}

.artist-result:hover {
  transform: scale(1.125);
  transition: transform 0.4s ease-in-out;
}

.artist-photo {
  height: 200px;
  width: 200px;
  border-radius: 50px;
  display: flex;
  align-self: center;
  margin-left: 20px;
  margin-right: 10px;
}

.artist-name {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* MENU + MENU COMPONENTS */

.menu {
  display: flex;
  justify-content: center;
}

.menu-buttons {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  display: inline-block;
}

.button-submit {
  height: 75px;
  width: 75px;
  border-radius: 100px;
  border: none;
  background-color: black;
  display: flex;
  display: inline-block;
}

.home {
  height: 100vh;
  background-color: aquamarine;
}

.playlists {
  height: 100vh;
  background-color: blueviolet;
}

.music-player {
  height: 100vh;
  background-color: chocolate;
}